body {
	font-family: sans-serif;
	border-top: 5px solid #222222;
	/*border-bottom: 5px solid #222222;*/
	padding: 50px;
	max-width: 700px;
	margin: 20px auto 0 auto;

    background: url(../images/bg1.png) left top repeat;
    padding:15px;
	}

/* Text font and colours -----------*/
h1, 
h2, 
p,
ul li {
	color: #e6e6e6;
	font-family: Calisto MT;
}

a {
	color: #7FDBFF;
}

/* --------------------------------*/

/* Other text formats -----------*/
a {
	font-weight: bold;
}

p,
ul li {
	font-size: 14px;
}

h1, h2{
	text-transform: uppercase;
}

h2{
	font-size: 18px;
}

nav, h1{
	text-align: center;
}

/* ---------------------------------*/

/* Classes -----------*/
.navigation-list{
	list-style: none;
	margin: 0;
	padding: 0;
}

.avatar{
	border: 1px solid #222222;
	padding: 5px;
	float: right;
	background-color: white;
}

.navigation-list li{
display: inline;
}
/* --------------------------------*/

/* Transitions */
.transition-050 {
  -moz-transition: 0.50s;
  -webkit-transition: 0.50s;
  -ms-transition: 0.50s;
  -o-transition: 0.50s;
  transition: 0.50s;
}
.opacity85{ 
  opacity: 0.85; 
  filter: alpha(opacity=85); 
}
body { background-color:#333; color:#eee}
.module { max-width: 500px; margin:auto; }
.module figure {
  position: relative;
  overflow: hidden;
  border:1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.module .small {
  float: left;
  width: 50%;
}
.module figure img {
  display: block;
  max-width: 100%;
}
.module figcaption {
  position: absolute;
  bottom: 0px;
  width: 100%;
  max-height: 27px;
}
.module .text {
  color: #7A8B8B;
  background-color: #fff;
  font-size:0.90em;
}
.module figure:hover figcaption { max-height: 100%;}
.module figure:hover figcaption .text {
  background-color: #7A8B8B;
  color:#fff;
}
.module figcaption a { display: block; text-decoration:none; }
.module .title {
  display: inline-block;
  padding: 5px;
  text-transform:uppercase;  
}
.module .desc {
  display: block;
  padding: 15px;
}
.bgcolor {
  background-color: #fff;
}